<!DOCTYPE html>
<!--
        s       .                                                                        ..             ..
       :8      @88>                                  .uef^"                            dF         x .d88"
      .88      %8P      ..    .     :              :d88E                              '88bu.       5888R
     :888ooo    .     .888: x888  x888.        .   `888E            .u          u     '*88888bu    '888R        .u
   -*8888888  .@88u  ~`8888~'888X`?888f`  .udR88N   888E .z8k    ud8888.     us888u.    ^"*8888N    888R     ud8888.
     8888    ''888E`   X888  888X '888>  <888'888k  888E~?888L :888'8888. .@88 "8888"  beWE "888L   888R   :888'8888.
     8888      888E    X888  888X '888>  9888 'Y"   888E  888E d888 '88%" 9888  9888   888E  888E   888R   d888 '88%"
     8888      888E    X888  888X '888>  9888       888E  888E 8888.+"    9888  9888   888E  888E   888R   8888.+"
    .8888Lu=   888E    X888  888X '888>  9888       888E  888E 8888L      9888  9888   888E  888F   888R   8888L
    ^%888*     888&   "*88%""*88" '888!` ?8888u../  888E  888E '8888c. .+ 9888  9888  .888N..888   .888B . '8888c. .+
      'Y"      R888"    `~    "    `"`    "8888P'  m888N= 888>  "88888%   "888*""888"  `"888*""    ^*888%   "88888%
                ""                          "P'     `Y"   888     "YP'     ^Y"   ^Y'      ""         "%       "YP'
                                                         J88"
                                                         @%        timcheadle.com // (c) <%= Time.now.year %> tim cheadle
                                                       :"
-->
<html>
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25525539-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-25525539-1');
  </script>

  <meta charset="utf-8">
  <title><%= "#{current_page.data.title} &mdash; " if current_page.data.title.present? %>Tim Cheadle</title>

  <meta name="description" content="Tim Cheadle">
  <meta name="author" content="Tim Cheadle is an engineering leader who’s excited about creating value with software, building products with empathy, and solving human problems.">

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrnk-to-fit=no">

  <meta property="og:url"         content="https://www.timcheadle.com/">
  <meta property="og:type"        content="article">
  <meta property="og:title"       content="Tim Cheadle">
  <meta property="og:description" content="Tim Cheadle is an engineering leader who’s excited about creating value with software, building products with empathy, and solving human problems.">
  <meta property="og:image"       content="">

  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "site" %>

  <link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body>
  <header>
    <%= partial 'layouts/header' %>
  </header>

  <div id="wrapper">
    <div class="container">

      <section id="content">
        <%= yield %>
      </section>
    </div>
  </div>

  <footer>
    <%= partial 'layouts/footer' %>
  </footer>
</body>
</html>
